/* Base */

* {
    color: white;
    background-color: black;
    font-family: "Courier New";
}

header {
    h1 {
        text-align: center;
    }
}

body.wrap{
    .nav {
        ul {
            li {
                list-style-type: none;
                display: inline;
                padding: 0;
                margin: 0;
            }
        }
    }

    .footer {
        ul {
            text-align: right;
            li {
                list-style-type: none;
                display: inline;
                font-size: 12px;
                }
        }
    }
}
