/* Base */

* {
    color: white;
    background-color: black;
    font-family: "Courier New";
}

body.wrap{
    h1 {
        text-align: center;
    }
    .nav {
        ul {
            li {
                list-style-type: none;
                display: inline;
                padding: 0;
                margin: 0;
            }
        }
    }

    .footer {
        ul {
            li {
                list-style-type: none;
                display: inline;
                text-align: "right";
                font-size: 10px;
                }
        }
    }
}
