/* Base */

* {
    color: white;
    background-color: black;
    font-family: "Courier New";
}

body.wrap{
    ul {
        li {
            list-style-type: none;
        }
    }
    .nav {
        text-align: center;
        border-top: 1px dashed;
        border-bottom: 1px dashed;
        margin-bottom: 10px;
        ul {
            margin-top: 120px;
            margin-bottom: 12px;
            margin-left: 0px;
            li {
                list-style-type: none;
                display: inline;
                padding: 0;
                margin: 0;
            }
        }
    }

    h1 {
        text-align: center;
    }

    .footer {
        position:absolute;
        bottom:0;
        width:99%;
        ul {
            text-align: right;
            li {
                list-style-type: none;
                display: inline;
                font-size: 12px;
                }
        }
    }
}


